<h1 id="blog-name">{{title}}</h1>

<div class="container">
    <div class="row row-centered">
        <div *ngFor="#post of posts" class="col-xs-6 col-centered col-min">
            <div class="item post-title">
                <span class="label label-info">{{post.date}}</span>
                <span [innerHTML]="post.title"></span>
            </div>
            <div class="item post-body" [innerHTML]="post.content"></div>
        </div>
    </div>
</div>

<footer class="text-center"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.</footer>