<!DOCTYPE html>
<html>
    <head>
        <title>BRHMMS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/blog.css">
    </head>
    <body>
        <h1 id="title">BRHMMS</h1>
        <nav class="text-center">
            <ul>
                <li><a href="mailto:contact@abrahammesa.com">E-mail</a></li>
                <li><a href="https://github.com/brhmms">GitHub</a></li>
                <li><a href="https://careers.stackoverflow.com/abrahammesa">Curriculum</a></li>
                <li><a href="el-commit">Blog</a></li>
            </ul>
        </nav>
        
    </body>
</html>